<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dragonfly Data HQ: Data quality monitoring tool">

    <!-- ========== Page Title ========== -->
    <title>Integrations | Dragonfly Data HQ: Data quality monitoring tool</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5/html5shiv.min.js"></script>
    <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5LG8T78W');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="dark-layout">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LG8T78W"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Header
============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar bg-gray navbar-default navbar-fixed-light attr-border navbar-fixed dark no-background bootsnav">

        <div class="container">

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo-light.png" class="logo" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="features.html">Features</a>
                    </li>
                    <li>
                        <a href="integrations.html">Integrations</a>
                    </li>
                    <li>
                        <a href="index.html#concepts">Key Concepts</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->

<!-- Star Projects
============================================= -->
<div class="projects-area bg-gray overflow-hidden default-padding">
    <!-- Fixed BG -->
    <div class="fixed-bg" style="background-image: url(assets/img/shape/2.png);"></div>
    <!-- Fixed BG -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4>Integrations</h4>
                    <h5>
                        Dragonfly is designed as API-first with easy-to-use integrations with standard DataSources, Notification Systems and Orchestrators
                    </h5>
                </div>
            </div>
        </div>
        <div class="project-items-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="gallery-content">
                        <div class="mix-item-menu text-center">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".datasource">DataSources</button>
                            <button data-filter=".codeCheck">Code-Based Checks</button>
                            <button data-filter=".alerts">Alerts</button>
                            <button data-filter=".orchestrator">Orchestrators</button>
                            <button data-filter=".misc">Miscellaneous</button>
                        </div>
                        <!-- End Mixitup Nav-->

                        <div class="magnific-mix-gallery masonary">
                            <div id="portfolio-grid" class="gallery-items projects-items colums-3">
                                {{#each integrations}}
                                    {{#with this}}
                                <!-- Single Item -->
                                <div class="pf-item {{categories}}">
                                    <div class="single-item">
                                        <div class="thumb item-effect">
                                            <img src="assets/img/integrations/{{icon}}" alt="{{name}}" >
                                        </div>
                                        <div class="info">
                                            <h5>
                                                <a href="#">{{name}}</a>
                                            </h5>
                                            <ul>
                                                {{#each uses}}
                                                <li>{{this}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                {{/with}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Projects -->

<!-- Star Footer
============================================= -->
<footer>
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="equal-height col-lg-4 col-md-4 item">
                    <div class="f-item about">
                        <img src="assets/img/logo-light.png" alt="Logo">
                        <p>
                            A Data Quality Monitoring platform, built by Upsot Idas Technology Lab.
                        </p>
                    </div>
                </div>

                <div class="equal-height col-lg-4 col-md-4 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Usefull Links</h4>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="features.html">Features</a>
                            </li>
                            <li>
                                <a href="index.html#concepts">Key Concepts</a>
                            </li>
                            <li>
                                <a href="https://nikhilwanpal.in/category/dragonfly/">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="equal-height col-lg-4 col-md-4 item">
                    <div class="f-item contact">
                        <h4 class="widget-title">Contact Info</h4>
                        <p>
                            If you wish to experience the heightened confidence in your data reports, reach out to us.
                        </p>
                        <div class="address">
                            <ul>
                                <li>
                                    <strong>Email: </strong><a href="mailto:info@upshotideas.com">info@upshotideas.com</a>
                                </li>
                                <li>
                                    <strong>Contact: </strong><a href="tel:+919960790196">+91-996-079-0196</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="social">
                            <li class="linkedin">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; Copyright 2023. All Rights Reserved by <a href="http://upshotideas.com">Upshot Ideas</a></p>
                </div>
                <div class="col-lg-6 text-right link">
                    <ul>
                        <li>
                            <a href="terms.html">Terms</a>
                        </li>
                        <li>
                            <a href="privacy.html">Privacy</a>
                        </li>
                        <li>
                            <a href="support.html">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Shape -->
    <div class="footer-shape" style="background-image: url(assets/img/shape/1.svg);"></div>
    <!-- End Shape -->
</footer>
<!-- End Footer-->

<!-- jQuery Frameworks
============================================= -->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/equal-height.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/modernizr.custom.13711.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/progress-bar.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/count-to.js"></script>
<script src="assets/js/YTPlayer.min.js"></script>
<script src="assets/js/circle-progress.js"></script>
<script src="assets/js/bootsnav.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>